<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Blusher</string>
					<key>NeedFaceMaskLocal</key>
					<string>0</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>MaskPath</key>
							<string>mianjia-7.plist</string>
							<key>MaskRectangle</key>
							<string>54,209,892,892</string>
							<key>ORGBA</key>
							<string>100,255,116,176,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>1</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>-1</integer>
							<key>Mode</key>
							<integer>0</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>105553198285824</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Blusher</string>
					<key>NeedFaceMaskLocal</key>
					<string>0</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>MaskPath</key>
							<string>mianjia-7.plist</string>
							<key>MaskRectangle</key>
							<string>54,175,892,892</string>
							<key>ORGBA</key>
							<string>100,255,116,176,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>1</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>-1</integer>
							<key>Mode</key>
							<integer>0</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>105553199135424</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Blusher</string>
					<key>NeedFaceMaskLocal</key>
					<string>0</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>MaskPath</key>
							<string>mianjia-7.plist</string>
							<key>MaskRectangle</key>
							<string>54,209,892,892</string>
							<key>ORGBA</key>
							<string>84,255,116,176,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>1</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>-1</integer>
							<key>Mode</key>
							<integer>0</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>105553198408192</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
