<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyz.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>184,419,341,252</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
					<!-- 眼影 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyy.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>514,416,300,250</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
					<!-- 眼影 -->
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxy.png</string>
					<key>LocateMethod</key>
					<integer>47</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>575,512,190,62</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>13</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxz.png</string>
					<key>LocateMethod</key>
					<integer>46</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>239,512,190,62</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>12</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxz x.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>258,544,175,68</string>
					<key>ORGBA</key>
					<string>100,11,1,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>12</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxy x.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>571,544,175,68</string>
					<key>ORGBA</key>
					<string>100,11,1,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>13</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
