<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>EyeLash</string>
					<key>Use2Dot5DEyeLash</key>
					<integer>1</integer>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>jmz-7.plist</string>
							<key>Rectangle</key>
							<string>243,479,200,152</string>
							<key>ORGBA</key>
							<string>100,108,74,41,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>60,108,74,41,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>105553240450688</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
					<key>NeedProfileOptimization</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>EyeLash</string>
					<key>Use2Dot5DEyeLash</key>
					<integer>1</integer>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>jmz-7.plist</string>
							<key>Rectangle</key>
							<string>243,479,200,152</string>
							<key>ORGBA</key>
							<string>100,108,74,41,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>60,108,74,41,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>105553240364416</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
					<key>NeedProfileOptimization</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
