<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>lpyyz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>203,453,237,187</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>10</string>
					<key>UseNewModel</key>
					<string>1</string>
					<!-- 眼影 -->
                    <key>MakeupCustomName</key>
                    <string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>lpyyy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>565,453,237,187</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>11</string>
					<key>UseNewModel</key>
					<string>1</string>
					<!-- 眼影 -->
                    <key>MakeupCustomName</key>
                    <string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yylpz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>10</string>
					<key>Rectangle</key>
					<string>279,464,181,164</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>10</string>
					<key>UseNewModel</key>
					<string>1</string>
					<!-- 眼影 -->
                    <key>MakeupCustomName</key>
                    <string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yylpy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>10</string>
					<key>Rectangle</key>
					<string>546,463,181,164</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>11</string>
					<key>UseNewModel</key>
					<string>1</string>
					<!-- 眼影 -->
                    <key>MakeupCustomName</key>
                    <string>MUFACE_EYESHADOW</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
