<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<!-- 这个字段可设置子项默认值，没有设置默认50的程度 -->
        <key>MakeupAlpha</key>
        <dict>
        <key>DefualtTotalAlpha</key>
            <integer>60</integer>
        </dict>
		<key>Action</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
<!--         <dict>
          <key>Type</key>
          <string>MPLIPSTICK</string>
          <key>ORGBA</key>
          <string>80,146,0,0,255</string>
          <key>LipstickMode</key>
          <integer>4</integer>
          <key>GlossAlpha</key>
          <integer>55</integer>
          <key>LightAlpha</key>
          <integer>84</integer>
          <key>LightColorRGBA</key>
          <string>255,255,0,255</string>
          <key>MakeupCustomName</key>
          <string>MUFACE_MOUTH</string>
				</dict> -->
<dict>
          <key>Type</key>
          <string>S</string>
          <key>Path</key>
          <string>zc.png</string>
          <key>AddPath</key>
          <string>zc.png</string>
          <key>LocateMethod</key>
          <string>2</string>
          <key>LockSource</key>
          <string>0</string>
          <key>FilterType</key>
          <string>4</string>
          <key>Rectangle</key>
          <string>343,803,327,127</string>
          <key>ORGBA</key>
          <string>30,0,0,0,255</string>
          <key>MUType</key>
          <string>1</string>
          <key>Operation</key>
          <string>7</string>
          <key>SupportOpenMouth</key>
          <string>1</string>
          <!-- 唇妆需要这个字段代表滑竿可调 -->
                    <key>MakeupCustomName</key>
                    <string>MUFACE_MOUTH</string>
        </dict>

        <dict>
          <key>Type</key>
          <string>S</string>
          <key>Path</key>
          <string>zc2.png</string>
          <key>AddPath</key>
          <string>zc2.png</string>
          <key>LocateMethod</key>
          <string>2</string>
          <key>LockSource</key>
          <string>0</string>
          <key>FilterType</key>
          <string>4</string>
          <key>Rectangle</key>
          <string>386,802,238,109</string>
          <key>ORGBA</key>
          <string>30,0,0,0,255</string>
          <key>MUType</key>
          <string>1</string>
          <key>Operation</key>
          <string>7</string>
          <key>SupportOpenMouth</key>
          <string>1</string>
          <!-- 唇妆需要这个字段代表滑竿可调 -->
                    <key>MakeupCustomName</key>
                    <string>MUFACE_MOUTH</string>
        </dict>
          <dict>
          <key>Type</key>
          <string>S</string>
          <key>Path</key>
          <string>kh_wl_moist.png</string>
          <key>LocateMethod</key>
          <string>2</string>
          <key>FilterType</key>
          <string>6</string>
          <key>Rectangle</key>
          <string>303,683,418,359</string>
          <key>ORGBA</key>
          <string>100,0,0,0,255</string>
          <key>MUType</key>
          <string>1</string>
          <key>Operation</key>
          <string>7</string>
          <key>ResolutionShow</key>
          <string>1,1,1,1</string>
          <key>TeethBlurParam</key>
          <string>1,10</string>
          <key>MakeupCustomName</key>
          <string>MUFACE_MOUTH</string>
        </dict>
          <dict>
          <key>Type</key>
          <string>S</string>
          <key>Path</key>
          <string>zcgg.png</string>
          <key>AddPath</key>
          <string>zcgg.png</string>
          <key>LocateMethod</key>
          <string>2</string>
          <key>LockSource</key>
          <string>0</string>
          <key>FilterType</key>
          <string>33</string>
          <key>Rectangle</key>
          <string>401,823,210,77</string>
          <key>ORGBA</key>
          <string>20,0,0,0,255</string>
          <key>MUType</key>
          <string>1</string>
          <key>Operation</key>
          <string>7</string>
          <key>SupportOpenMouth</key>
          <string>1</string>
                                   <!-- 唇妆需要这个字段代表滑竿可调 -->
     <key>MakeupCustomName</key>
     <string>MUFACE_MOUTH</string>
     </dict>
		</array>
	</dict>
</array>
</plist>
