<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>al.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>223,538,226,113</string>
					<key>ORGBA</key>
					<string>90,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
					<key>ID</key>
					<string>105553200115200</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>ar.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>571,538,226,113</string>
					<key>ORGBA</key>
					<string>90,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
					<key>ID</key>
					<string>105553200115392</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>ll.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>10</integer>
					<key>Rectangle</key>
					<string>260,545,180,71</string>
					<key>ORGBA</key>
					<string>12,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
					<key>ID</key>
					<string>105553200115456</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>lr.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>10</integer>
					<key>Rectangle</key>
					<string>572,545,180,71</string>
					<key>ORGBA</key>
					<string>12,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
					<key>ID</key>
					<string>105553200115520</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
