<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Bronzers</string>
					<key>SkinAdjust</key>
					<integer>0</integer>
					<key>SkinORGBA</key>
					<string>0,0,0,0,0</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>mcpResource-3.plist</string>
							<key>Rectangle</key>
							<string>230,537,539,185</string>
							<key>ORGBA</key>
							<string>59,237,209,193,255</string>
							<key>BlendMode</key>
							<string>BlendSoftLight</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>-1</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>42597221760</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Bronzers</string>
					<key>SkinAdjust</key>
					<integer>0</integer>
					<key>SkinORGBA</key>
					<string>0,0,0,0,0</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>mcpResource-15.plist</string>
							<key>Rectangle</key>
							<string>102,179,805,873</string>
							<key>ORGBA</key>
							<string>58,237,209,193,255</string>
							<key>BlendMode</key>
							<string>BlendScreen</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>-1</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>42597222272</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
