<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>khjs-2.png</string>
					<key>AddPath</key>
					<string>khjs-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>400,839,208,52</string>
					<key>ORGBA</key>
					<string>4,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>41026577536</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>kh1-2.png</string>
					<key>AddPath</key>
					<string>kh1-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>390,817,221,99</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>41031785472</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>PacketPath</key>
					<string>BluePrint</string>
					<key>BPPath</key>
					<string>BluePrint/BluePrint.json</string>
					<key>ScriptPath</key>
					<string>BluePrint/main.lua</string>
					<key>UIPath</key>
					<string>BluePrint/ui.lua</string>
					<key>Type</key>
					<string>Script</string>
					<key>EnableTouch</key>
					<integer>1</integer>
					<key>EnableTouchGesture</key>
					<integer>1</integer>
					<key>EnableSlam</key>
					<integer>1</integer>
					<key>EnableFace3DFA</key>
					<integer>1</integer>
					<key>CustomName</key>
					<string>BEFORE_FACELIFT</string>
					<key>EnableARPlane</key>
					<string>0</string>
					<key>EnableAnimal</key>
					<string>0</string>
					<key>EnableFace</key>
					<string>0</string>
					<key>EnableFace3DFAMesh</key>
					<string>0</string>
					<key>EnableFaceReconstructor</key>
					<string>0</string>
					<key>EnableFaceSegmemt</key>
					<string>0</string>
					<key>EnableHandPose</key>
					<string>0</string>
					<key>Gender</key>
					<string>F</string>
					<key>NeedOriginImageRGBA</key>
					<string>0</string>
					<key>SegmentType</key>
					<string>-1</string>
					<key>SpaceDepth</key>
					<string>0</string>
					<key>SpaceNormal</key>
					<string>0</string>
					<key>ID</key>
					<string>41051934720</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
