<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MPLIPSTICKV2</string>
					<key>LipstickType</key>
					<integer>0</integer>
					<key>TeethWhiten</key>
					<integer>0</integer>
					<key>WhitenDegree</key>
					<string>0.50</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>ORGBA</key>
							<string>38,225,190,160,255</string>
							<key>SubType</key>
							<integer>0</integer>
							<key>GlossAlpha</key>
							<integer>76</integer>
							<key>LightORGBA</key>
							<string>100,255,255,255,255</string>
						</dict>
					</array>
					<key>ID</key>
					<string>51111239616</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>mcpResource-2.png</string>
					<key>AddPath</key>
					<string>mcpResource-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>373,788,258,152</string>
					<key>ORGBA</key>
					<string>36,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>51110791936</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1156.lip-2.png</string>
					<key>AddPath</key>
					<string>1156.lip-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>384,800,241,118</string>
					<key>ORGBA</key>
					<string>79,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>51104140672</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
