<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1281_kh-1.png</string>
					<key>AddPath</key>
					<string>1281_kh-1.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>393,808,221,123</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>35758228096</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1281_zcxr-1.png</string>
					<key>AddPath</key>
					<string>1281_zcxr-1.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>406,751,204,180</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>35733137024</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1281_khgg-1.png</string>
					<key>AddPath</key>
					<string>1281_khgg-1.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>10</integer>
					<key>Rectangle</key>
					<string>433,821,166,65</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>35733132736</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
