<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eye_mask_right.png</string>
					<key>AdditionalTexture</key>
					<string>mt_editR.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>NeedMask</key>
					<integer>1</integer>
					<key>Rectangle</key>
					<string>566,487,198,116</string>
					<key>ORGBA</key>
					<string>40,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>17</integer>
					<key>NeedPupilHighLight</key>
					<integer>1</integer>
					<key>ID</key>
					<string>35738613824</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_EYEPUPIL</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eye_mask_left.png</string>
					<key>AdditionalTexture</key>
					<string>mt_editL.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>NeedMask</key>
					<integer>1</integer>
					<key>Rectangle</key>
					<string>241,494,207,119</string>
					<key>ORGBA</key>
					<string>40,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>16</integer>
					<key>NeedPupilHighLight</key>
					<integer>1</integer>
					<key>ID</key>
					<string>35738614336</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_EYEPUPIL</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eye_mask_right.png</string>
					<key>AdditionalTexture</key>
					<string>mt_editR.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>2</integer>
					<key>NeedMask</key>
					<integer>1</integer>
					<key>Rectangle</key>
					<string>566,487,198,116</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>17</integer>
					<key>NeedPupilHighLight</key>
					<integer>1</integer>
					<key>ID</key>
					<string>35736546944</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_EYEPUPIL</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eye_mask_left.png</string>
					<key>AdditionalTexture</key>
					<string>mt_editL.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>2</integer>
					<key>NeedMask</key>
					<integer>1</integer>
					<key>Rectangle</key>
					<string>241,494,207,119</string>
					<key>ORGBA</key>
					<string>100,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>16</integer>
					<key>NeedPupilHighLight</key>
					<integer>1</integer>
					<key>ID</key>
					<string>35736542272</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_EYEPUPIL</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
