<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1357-lip4-2.png</string>
					<key>AddPath</key>
					<string>1357-lip4-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>377,800,261,116</string>
					<key>ORGBA</key>
					<string>60,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>51119961600</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1357-lip3-2.png</string>
					<key>AddPath</key>
					<string>1357-lip3-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>386,810,256,109</string>
					<key>ORGBA</key>
					<string>60,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>51121282688</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1357-lip2-2.png</string>
					<key>AddPath</key>
					<string>1357-lip2-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>400,821,201,96</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>51118266496</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1357-lip1-2.png</string>
					<key>AddPath</key>
					<string>1357-lip1-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>400,804,209,101</string>
					<key>ORGBA</key>
					<string>50,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>51114668928</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
