<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>eyebrow04</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>eyebrow04.png</string>
					<key>LocateMethod</key>
					<string>48</string>
					<key>FilterType</key>
					<string>3</string>
					<key>Rectangle</key>
					<string>211,427,267,97</string>
					<key>ORGBA</key>
					<string>55,86,54,0,255</string>
					<key>EyeBrowPoint</key>
					<string>38,57,84,19,130,16,175,25,220,39,222,67,175,52,129,41,85,42</string>
					<key>MUType</key>
					<string>2</string>
					<key>Operation</key>
					<string>0</string>
					<key>CustomName</key>
					<string>MUFACE_EYEBROW</string>
					<key>EyeBrowPointDegree</key>
					<string>0.8</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
