<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>al.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>257,558,177,64</string>
					<key>ORGBA</key>
					<string>90,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>ar.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>582,553,177,64</string>
					<key>ORGBA</key>
					<string>90,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>ll.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>10</integer>
					<key>Rectangle</key>
					<string>265,546,187,66</string>
					<key>ORGBA</key>
					<string>40,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>lr.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>10</integer>
					<key>Rectangle</key>
					<string>573,544,187,66</string>
					<key>ORGBA</key>
					<string>40,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
