<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MPLIPSTICKV2</string>
					<key>LipstickType</key>
					<integer>0</integer>
					<key>TeethWhiten</key>
					<integer>0</integer>
					<key>WhitenDegree</key>
					<string>0.50</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>ORGBA</key>
							<string>24,244,218,210,255</string>
							<key>SubType</key>
							<integer>0</integer>
							<key>GlossAlpha</key>
							<integer>76</integer>
							<key>LightORGBA</key>
							<string>100,255,255,255,255</string>
						</dict>
					</array>
					<key>ID</key>
					<string>105553273717824</string>
					<key>Name</key>
					<string></string>
				</dict>
				<dict>
					<key>Type</key>
					<string>MPLIPSTICKV2</string>
					<key>LipstickType</key>
					<integer>11</integer>
					<key>TeethWhiten</key>
					<integer>0</integer>
					<key>WhitenDegree</key>
					<string>0.50</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>ORGBA</key>
							<string>70,0,0,0,255</string>
							<key>SubType</key>
							<integer>11</integer>
							<key>GlossAlpha</key>
							<integer>100</integer>
							<key>LightORGBA</key>
							<string>100,255,255,255,255</string>
							<key>Path</key>
							<string>lzlip-7.plist</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Rectangle</key>
							<string>346,782,320,152</string>
						</dict>
					</array>
					<key>ID</key>
					<string>105553276880000</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
