<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>EyeShadow</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>1358.yyz-2.plist</string>
							<key>Rectangle</key>
							<string>207,480,261,148</string>
							<key>ORGBA</key>
							<string>100,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>50,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>41352226432</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
					<key>NeedProfileOptimization</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>EyeShadow</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>1358.wcz-2.plist</string>
							<key>Rectangle</key>
							<string>277,549,161,76</string>
							<key>ORGBA</key>
							<string>39,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>50,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>41352226496</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
					<key>NeedProfileOptimization</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>EyeShadow</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>1126.yyz-2.plist</string>
							<key>Rectangle</key>
							<string>233,465,205,167</string>
							<key>ORGBA</key>
							<string>21,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask02.png</string>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>50,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask02.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>41352227264</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
					<key>NeedProfileOptimization</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>EyeShadow</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>Path</key>
							<string>1097.yyz-2.plist</string>
							<key>Rectangle</key>
							<string>225,457,214,185</string>
							<key>ORGBA</key>
							<string>46,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>50,155,136,119,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>41352226944</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
					<key>NeedProfileOptimization</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
