<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>jmy x.png</string>
					<key>LocateMethod</key>
					<integer>39</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>566,497,218,124</string>
					<key>ORGBA</key>
					<string>90,78,30,28,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>15</integer>
					<key>ID</key>
					<string>105553140454720</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>CustomName</key>
					<string>MUFACE_EYELASH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>jmz x.png</string>
					<key>LocateMethod</key>
					<integer>38</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>229,497,218,124</string>
					<key>ORGBA</key>
					<string>90,78,30,28,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>14</integer>
					<key>ID</key>
					<string>105553140454656</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>CustomName</key>
					<string>MUFACE_EYELASH</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
