<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>EyeLiner</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>MaskPath</key>
							<string>hanxi-12.plist</string>
							<key>MaskRectangle</key>
							<string>233,455,201,177</string>
							<key>ORGBA</key>
							<string>100,108,74,41,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>1</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>40,108,74,41,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>105553205556032</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
					<key>NeedProfileOptimization</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>EyeLiner</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>MaskPath</key>
							<string>hanxi-12.plist</string>
							<key>MaskRectangle</key>
							<string>233,455,201,177</string>
							<key>ORGBA</key>
							<string>33,108,74,41,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>1</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>2</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
						<dict>
							<key>ORGBA</key>
							<string>40,108,74,41,255</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Makeup2DType</key>
							<integer>0</integer>
							<key>MixColorByMask</key>
							<integer>0</integer>
							<key>FaceOrgan</key>
							<integer>3</integer>
							<key>Mode</key>
							<integer>-1</integer>
							<key>HeadMaskPath</key>
							<string>mask.png</string>
						</dict>
					</array>
					<key>PartAlpha</key>
					<integer>100</integer>
					<key>ID</key>
					<string>105553203589888</string>
					<key>Name</key>
					<string></string>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>Mirror</key>
					<integer>1</integer>
					<key>RightEyeUseLeftEyeMirrorModelPoints</key>
					<integer>1</integer>
					<key>NeedProfileOptimization</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
