<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MPLIPSTICKV2</string>
					<key>LipstickType</key>
					<integer>11</integer>
					<key>TeethWhiten</key>
					<integer>0</integer>
					<key>WhitenDegree</key>
					<string>0.50</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>ORGBA</key>
							<string>4,0,0,0,255</string>
							<key>SubType</key>
							<integer>11</integer>
							<key>GlossAlpha</key>
							<integer>100</integer>
							<key>LightORGBA</key>
							<string>100,255,255,255,255</string>
							<key>Path</key>
							<string>khjs-2.plist</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Rectangle</key>
							<string>400,839,208,52</string>
						</dict>
					</array>
					<key>ID</key>
					<string>105553225595264</string>
					<key>Name</key>
					<string></string>
					<key>Gender</key>
					<string>F</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>MPLIPSTICKV2</string>
					<key>LipstickType</key>
					<integer>11</integer>
					<key>TeethWhiten</key>
					<integer>0</integer>
					<key>WhitenDegree</key>
					<string>0.50</string>
					<key>MakeupConfigure</key>
					<array>
						<dict>
							<key>ORGBA</key>
							<string>100,0,0,0,255</string>
							<key>SubType</key>
							<integer>11</integer>
							<key>GlossAlpha</key>
							<integer>100</integer>
							<key>LightORGBA</key>
							<string>100,255,255,255,255</string>
							<key>Path</key>
							<string>kh1-2.plist</string>
							<key>BlendMode</key>
							<string>BlendMultiply</string>
							<key>Rectangle</key>
							<string>390,817,221,99</string>
						</dict>
					</array>
					<key>ID</key>
					<string>105553225586816</string>
					<key>Name</key>
					<string></string>
					<key>Gender</key>
					<string>F</string>
				</dict>
				<dict>
					<key>PacketPath</key>
					<string>BluePrint</string>
					<key>BPPath</key>
					<string>BluePrint/BluePrint.json</string>
					<key>ScriptPath</key>
					<string>BluePrint/main.lua</string>
					<key>UIPath</key>
					<string>BluePrint/ui.lua</string>
					<key>Type</key>
					<string>MakeupScript</string>
					<key>EnableTouch</key>
					<integer>1</integer>
					<key>EnableTouchGesture</key>
					<integer>1</integer>
					<key>EnableSlam</key>
					<integer>1</integer>
					<key>EnableFace3DFA</key>
					<integer>1</integer>
					<key>CustomName</key>
					<string>BEFORE_FACELIFT</string>
					<key>EnableARPlane</key>
					<string>0</string>
					<key>EnableAnimal</key>
					<string>0</string>
					<key>EnableFace</key>
					<string>0</string>
					<key>EnableFace3DFAMesh</key>
					<string>0</string>
					<key>EnableFaceReconstructor</key>
					<string>0</string>
					<key>EnableFaceSegmemt</key>
					<string>0</string>
					<key>EnableHandPose</key>
					<string>0</string>
					<key>Gender</key>
					<string>F</string>
					<key>NeedOriginImageRGBA</key>
					<string>0</string>
					<key>SegmentType</key>
					<string>-1</string>
					<key>SpaceDepth</key>
					<string>0</string>
					<key>SpaceNormal</key>
					<string>0</string>
					<key>ID</key>
					<string>105553225583552</string>
					<key>Name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
