<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyxr.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>6</integer>
					<key>Rectangle</key>
					<string>144,395,710,275</string>
					<key>ORGBA</key>
					<string>15,0,0,0,255</string>
					<key>MUType</key>
					<integer>4</integer>
					<key>Operation</key>
					<integer>1</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_CHEEK</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyz.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>179,411,318,267</string>
					<key>ORGBA</key>
					<string>82,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyy.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>506,411,318,267</string>
					<key>ORGBA</key>
					<string>82,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyz1.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>179,411,318,267</string>
					<key>ORGBA</key>
					<string>58,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyy1.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>506,411,318,267</string>
					<key>ORGBA</key>
					<string>58,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxyx.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>605,560,121,41</string>
					<key>ORGBA</key>
					<string>70,11,1,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>13</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxzx.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>277,560,121,41</string>
					<key>ORGBA</key>
					<string>70,11,1,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>12</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxy.png</string>
					<key>LocateMethod</key>
					<integer>47</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>565,513,194,65</string>
					<key>ORGBA</key>
					<string>70,11,1,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>13</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yxz.png</string>
					<key>LocateMethod</key>
					<integer>46</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>244,513,194,65</string>
					<key>ORGBA</key>
					<string>70,11,1,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>12</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYELINER</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Script</string>
					<key>EnableFace</key>
					<integer>1</integer>
					<key>EnableFaceSegmemt</key>
					<integer>0</integer>
					<key>EnableFaceReconstructor</key>
					<integer>1</integer>
					<key>PacketPath</key>
					<string>eye</string>
					<key>ScriptPath</key>
					<string>eye/jelly.lua</string>
					<key>ScriptVersionCode</key>
					<integer>0</integer>
					<key>ScriptLevel</key>
					<integer>0</integer>
					<key>ScriptName</key>
					<string>eye</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyggy.png</string>
					<key>LocateMethod</key>
					<integer>7</integer>
					<key>FilterType</key>
					<integer>2</integer>
					<key>Rectangle</key>
					<string>538,465,197,169</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>11</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>yyggz.png</string>
					<key>LocateMethod</key>
					<integer>6</integer>
					<key>FilterType</key>
					<integer>2</integer>
					<key>Rectangle</key>
					<string>268,465,197,169</string>
					<key>ORGBA</key>
					<string>70,0,0,0,255</string>
					<key>MUType</key>
					<integer>3</integer>
					<key>Operation</key>
					<integer>10</integer>
					<key>UseNewModel</key>
					<integer>1</integer>
					<key>MakeupCustomName</key>
					<string>MUFACE_EYESHADOW</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
