<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>xjmz.png</string>
					<key>LocateMethod</key>
					<string>6</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>257,546,161,72</string>
					<key>ORGBA</key>
					<string>80,78,30,28,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>14</string>
					<key>UseNewModel</key>
					<string>1</string>
					<!-- 睫毛需要这个字段代表滑竿可调 -->
                <key>MakeupCustomName</key>
                <string>MUFACE_EYELASH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>xjmy.png</string>
					<key>LocateMethod</key>
					<string>7</string>
					<key>FilterType</key>
					<string>4</string>
					<key>Rectangle</key>
					<string>590,545,161,72</string>
					<key>ORGBA</key>
					<string>80,78,30,28,255</string>
					<key>MUType</key>
					<string>3</string>
					<key>Operation</key>
					<string>15</string>
					<key>UseNewModel</key>
					<string>1</string>
					<!-- 睫毛需要这个字段代表滑竿可调 -->
                <key>MakeupCustomName</key>
                <string>MUFACE_EYELASH</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
