<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<array>
		<dict>
			<key>Name</key>
			<string></string>
			<key>AI</key>
			<array>
				<string>ai/configuration.json</string>
			</array>
			<key>CustomParamDict</key>
			<dict>
				<key>EyelidRealtimeModelType</key>
				<integer>-1</integer>
			</dict>
			<key>SpecialMakeup</key>
			<integer>1</integer>
			<key>IsNeedResetSound</key>
			<integer>0</integer>
			<key>EnableReplaceSpecialFacelift</key>
			<integer>0</integer>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1367-lip3-2.png</string>
					<key>AddPath</key>
					<string>1367-lip3-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>385,775,242,152</string>
					<key>ORGBA</key>
					<string>85,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>31711726336</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1367-lip2-2.png</string>
					<key>AddPath</key>
					<string>1367-lip2-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>4</integer>
					<key>Rectangle</key>
					<string>401,821,222,88</string>
					<key>ORGBA</key>
					<string>55,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>31711726528</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>S</string>
					<key>Path</key>
					<string>1367-lip1-2.png</string>
					<key>AddPath</key>
					<string>1367-lip1-2.png</string>
					<key>LocateMethod</key>
					<integer>2</integer>
					<key>FilterType</key>
					<integer>10</integer>
					<key>Rectangle</key>
					<string>395,801,218,105</string>
					<key>ORGBA</key>
					<string>78,0,0,0,255</string>
					<key>MUType</key>
					<integer>1</integer>
					<key>Operation</key>
					<integer>7</integer>
					<key>SupportOpenMouth</key>
					<integer>1</integer>
					<key>ID</key>
					<string>31711726272</string>
					<key>Name</key>
					<string></string>
					<key>CustomName</key>
					<string>MUFACE_MOUTH</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>
